body{
    background-image: url('images/colddarkmoon.jpg');
    background-repeat: no-repeat;
    background-size:auto;
}
.contact{
    width:fit-content;
    margin:auto;
    background-color: rgba(0, 0, 0, 0.425);
}
.contactLink{
    margin:10px;
    color:cyan;
}
#headerImg{
    width:200px;
    display:inline-block;
}